body{
  background-color: #9266ff;
}
.App{
  background-color: #3f3160;
  min-height:500px;
  width: 600px;
  margin: 40px auto;
}
.Welcome{
  margin: 100px auto;
  padding: 50px;

}

.View{
  margin-left: 20px;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(202, 156, 24, 1); 
  cursor: pointer;
}
.Add{
  margin-left: 10px;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(202, 156, 24, 1); 
  cursor: pointer;
}
.Modify{
  margin-left: 20px;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(202, 156, 24, 1); 
  cursor: pointer;
}

